@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*{
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size:  18px;
  line-height: 21px;
  color: #252525;
  background-color: #f2f2f2;
}

/* Header */
.page-header {
  color: #000000;
}



/* navigation */
.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.navigation-border {
  border-bottom: 3px solid #756257;
}


/* Hero */

.hero-background {
  background-image: url(../images/index-image/index-background-img-welcom-sedona.jpg);
  background-color: #b9b9b9;
  background-repeat: no-repeat;
  background-size: cover;

}




/* advantages */

.advantages ul {
  list-style: none;
}

.advantages-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.advantages-title + p {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  text-align: center;
}

.advantages-list-item:nth-child(1) .advantages-item-wrapper{
  background-color: #82B3D3;
}
.advantages-list-item:nth-child(3) .advantages-item-wrapper{
  background-color: #83B3D333;
}
.advantages-list-item:nth-child(5) .advantages-item-wrapper{
  background-color: #82B3D3;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-list-item:first-child {
  color: #fff;
}

.advantages-list-item:last-child {
  color: #fff;
}


/* services */

.housing-icon {
  background-image: url(../images/index-image/main-icon-house.svg);
  background-repeat: no-repeat;
}

.food-icon {
  background-image: url(../images/index-image/main-icon-burger.svg);
  background-repeat: no-repeat;
}

.souvenirs-icon {
  background-image: url(../images/index-image/main-icon-present.svg);
  background-repeat: no-repeat;
}

.servise-list-item:nth-child(1) .servise-item-wrapper{
  background-color: #83B3D31F;
}
.servise-list-item:nth-child(3) .servise-item-wrapper{
  background-color: #83B3D31F;
}



.servise-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

.servise-title + p {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}


.servise-list-item h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.clarify-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.clarify-subtitle {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.news-letter-background {
  background-image: url(../images/index-image/Subscribe-footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cfcece;
}

.news-letter-title {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.news-letter-title + p {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #fff
}
.news-letter {
  text-align: center;
}

.news-letter-button{
  background-color: #82B3D3;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;

}

.field{
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;


}


/* HOTELS */


.catalog-header-hotel-search-wrapper {
  background-image: url(../images/catalog-image/main-background-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cfcdcd;
}

.catalog-header + h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}
.catalog-header ul{
  list-style: none;
}

.breadcrumbs-link {
  font-size: 16px;
}

.search-hotel-filters-group {
  line-height: 23px;
}

.search-hotel-filters-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-search-result {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.hotel-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.hotel-reiting{
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.hotels-search-pagination-button-current{
  background-color: #F2F2F2;
}

/* white font */
.white-font {
  color:#fff;
}


.brown-background {
  background-color: #756157;
}

.blue-background-bottom {
  background-color: #82B3D3;
}

.button-green-background {
  background-color: #7DB54F;
}


.button-small {
  border-radius: 4px;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.button-medium {
  border-radius: 4px;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.no-border-button {
  border-radius: 4px;
  color: #FFF;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  display: contents;
}

.view-mode-button {
  padding: 14px 12px;
  text-decoration: none;
}

.view-mode-button-selected {
  border-radius: 4px;
  border: 2px solid #000;
}

::placeholder {
  color: #000000;
  line-height: 24px;
  opacity: 0.6;
}

/* Footer */

.footer-contacts-phone {
  color: #000;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}
