@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
}



body {
  height: 100%;
  margin: 0;
  padding: 0 40px;
  font-family: "PT Sans", sans-serif;
  font-size:  18px;
  line-height: 21px;
  color: #252525;
  background-color: #f2f2f2;

}

.main-container {
  flex-grow: 1;
}




/* Header */
.page-header {
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 70px;


}

.header-logo {
  margin-right: 30px;

}

.header-logo-img {
  width: 138px;
  height: 64px;
  max-width: 100%;
}


/* navigation */
.navigation {
  display: flex;
  align-items: center;

}

.navigation-item {
  margin-right: 20px;
}

.navigation ul{
  list-style: none;
}

.navigation-list {
  padding: 0;
  margin: 0;
  display: flex;
}

.navigation-user a {
  margin-right: 20px;
  text-decoration: none;

}


.navigation button {
  padding: 8px 34px;
  border: none;
  cursor: pointer;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.navigation-border {
  border-bottom: 3px solid #756257;
}

.search {
  background-image: url(../icon/header-search.svg);
  background-repeat: no-repeat;
}

.favourites {
  background-image: url(../icon/header-heart-.svg);
  background-repeat: no-repeat;
}

/* Hero */

.hero-background {
  background-image: url(../images/index-image/index-background-img-welcom-sedona2.jpg);
  background-color: #b9b9b9;
  background-repeat: no-repeat;
  background-size: cover;


}


.hero img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/* advantages */


.advantages ul {
  list-style: none;
}

.advantages-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}



.advantages-title + p {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}


.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item-wrapper {
  margin: 0;
  width: 400px;

}

.advantages-list-item {
  display: flex;
  margin: 0;
  padding: 0;

}




.advantages-list-item:first-child .advantages-item-wrapper,
.advantages-list-item:last-child .advantages-item-wrapper {
  background-color: #82B3D3;
}

.advantages-list-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-list-item:first-child {
  color: #fff;
}

.advantages-list-item:last-child {
  color: #fff;
}


/* services */

.services-button {
  display: flex;
  justify-content: center;
  width: 376px;
  margin: auto;
  padding: auto;
}

.services a {
  padding: 8px 50px;
}

.cervise-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.servise-list-item {
  text-align: center;

}

.servise-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.housing-icon {
  background-image: url(../images/index-image/main-icon-house.svg);
  background-repeat: no-repeat;

}

.food-icon {
  background-image: url(../images/index-image/main-icon-burger.svg);
  background-repeat: no-repeat;
}

.souvenirs-icon {
  background-image: url(../images/index-image/main-icon-present.svg);
  background-repeat: no-repeat;
}

.servise-list-item:nth-child(1) .servise-item-wrapper{
  background-color: #83B3D31F;
}
.servise-list-item:nth-child(3) .servise-item-wrapper{
  background-color: #83B3D31F;
}



.servise-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.servise-title + p {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}


.servise-list-item h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.clarify-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.clarify-subtitle {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.news-letter-background {
  background-image: url(../images/index-image/Subscribe-footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cfcece;
}

.news-letter-title {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 96px;

}

.news-letter-title + p {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #fff

}
.news-letter {
  text-align: center;
}

.news-letter-button{
  background-color: #82B3D3;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.news-letter-form {
  padding-bottom: 104px;
}

.field{
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.page-footer {
  display: flex;
  justify-content: space-between;


}
.footer-social-list {
  display: flex;
  justify-content: space-between;
  width: 142px;

}

.footer-social ul {
  list-style: none;
}




/* HOTELS */


.catalog {
  display: flex;
  flex-direction: column;
  width: 1200px;

}


.catalog-search-hotels {
  display: flex;
  align-items: center;
}

.catalog-header-hotel-search-wrapper {
  background-image: url(../images/catalog-image/main-background-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cfcdcd;
  padding: 35px 70px 70px 70px;
}

.catalog-wrapper {
  display: flex;
  flex-direction: column;
  padding: 50px 70px 60px 70px;
}

.catalog-search-hotels-sort-wrapper {
  display: flex;
  align-items: center;

}
.catalog-sort-icon {
  display: flex;

}

.catalog-header + h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
}
.catalog-header ul{
  list-style: none;
}

.border-bottom-catalog {
  border-bottom: 3px solid #756257;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 8px;
  list-style: none;
  width: 114px;
}

.breadcrumbs-item {
  display: flex;
}

.breadcrumbs-link-home {
  display: flex;
  text-align: center;
}

.breadcrumbs-link {
  display: flex;

  color: #fff;
  text-decoration: none;
}

.vector-breadcrumbs {
  background-image: url(../images/catalog-image/index-strelka-vector.svg);
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  font-size: 16px;
}

.search-hotel {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.search-hotels-select-and-icons {
  display: flex;
  align-items: center;
}


.search-hotels-icons-select {
  margin-left: 70px;
  display: flex;
  justify-content: space-around;

}
.search-hotels-icons-select a {
  margin-right: 8px;
}
.search-hotels-icons-select a:nth-child(3) {
  margin: 0;
}

.catalog-search-hotels-sort-wrapper {
  display: flex;
  justify-content: space-between;
}

.search-hotel-filters-group {
  line-height: 23px;
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.two-group-search:nth-child(4) {
  margin-right: 140px;
}

.search-hotel-filters {
  display: flex;
}

.search-hotel-price-selection {
  margin-right: 70px;
}

.search-hotel-price-selection-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.button-third-serch-hotel {
  margin-top: 55px;
}

.product-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  display: flex;
  margin-right: 20px;
  width: 340px;
}

.product-card-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.product-card-hotels-info {
  display: flex;
  flex-wrap: wrap;

}

.search-hotel-filters-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.hotels-search-pagination-item-wrapper {
  display: flex;

}

.catalog-search-result {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.hotel-reiting{
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}



.hotels-search-pagination-button {
  background-color: #82B3D3;
  margin-right: 8px;
  padding: 12px;
  border-radius: 4px;
}

.hotels-search-pagination-button-current{
  background-color: #F2F2F2;
}

.hotels-search-pagination {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

.subscription {
  display: flex;
  flex-direction: column;
  text-align: center;

}


.subscription-title {
  padding-top: 96px;
}

.subscription-form {
  padding-bottom: 104px;
}

/* white font */
.white-font {
  color:#fff;
}


.brown-background {
  background-color: #756157;
  padding: 8px 34px;
  border-radius: 4px;
}

.blue-background-bottom {
  background-color: #82B3D3;
}

.button-green-background {
  background-color: #7DB54F;
}


.button-small {
  border-radius: 4px;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

}

.button-medium {
  border-radius: 4px;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.no-border-button {
  border-radius: 4px;
  color: #FFF;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  display: contents;
}


.subscription-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.view-mode-button {
  padding: 14px 12px;
  text-decoration: none;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.view-mode-button-selected {
  border-radius: 4px;
  border: 2px solid #000;
}

::placeholder {
  color: #000000;
  line-height: 24px;
  opacity: 0.6;
}

/* Footer */

.footer-contacts-phone {
  color: #000;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}
